.aboutContainer {
  font-size: 1.6rem;
  @media (max-width: 500px) {
    font-size: 1.4rem;
  }
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.5px;
  color: black;
  div[data-to-animate] {
    opacity: 0;
  }
  button[data-to-animate] {
    opacity: 0;
  }
  & > div {
    width: 100vw;
    text-align: center;
  }
  & > div[class$="Container"] > div {
    padding: 7rem 0 0rem 0;
    max-width: 85vw;
    margin: 0 auto;
    @media (max-width: 500px) {
      max-width: 95vw;
    }
  }
  & > div[class$="Container"] {
    padding: 8rem 0 8rem 0;
    background-color: $back-white;
    @media (max-width: 500px) {
      padding: 4rem 0 4rem 0;
    }
  }
  a,
  .descLink {
    color: rgb(150, 150, 150);
    text-decoration: underline;
    &:hover {
      color: black;
    }
  }
}

.chevronDown {
  width: 5rem;
  height: 5rem;

  fill: white;
  position: absolute;
  bottom: 3rem;
  cursor: pointer;
}
//SHARED
.descText {
  text-align: left;
  div {
    margin: 2rem 0;
  }
  @media (max-width: 500px) {
    margin: 0 !important;
  }
}
.aboutHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "BrandonGrotesque", sans-serif;
  font-size: 3rem;
  position: relative;
}
// ME
.meAboutContainer {
  color: black;
}
.meAboutWrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  @media (max-width: 905px) {
    flex-direction: column;
  }
  & > div {
    margin: auto;
    padding: 5rem 6rem;
    @media (max-width: 500px) {
      padding: 5rem 1rem;
    }
    width: 100%;
  }
}
.meAboutLeft {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.meAboutImage {
  position: relative;
  width: 30rem;
}
//
.temp {
  display: flex;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.imageWrap {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-color: darken(white, 90%);
  opacity: 0.5;
}
.heroImage {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  z-index: -2;
  position: fixed !important;
}
.parallaxImageWrap {
  position: fixed;
  width: 100vw;
  height: 100rem;
  z-index: -1;
  background-color: darken(white, 90%);
  opacity: 0.5;
}
.parallaxHeroImage {
  object-fit: cover;
  width: 100vw;
  height: 100rem;
  z-index: -2;
  position: fixed;
}
.heroText {
  color: white;
  position: absolute;
  text-align: left;
  font-size: 3rem;
  max-width: 45vw;
  z-index: 4;
  div {
    margin: 1rem 0;
  }
  @media (max-width: 1380px) {
    font-size: 2.7rem;
  }
  @media (max-width: 900px) {
    font-size: 2.3rem;
  }
  @media (max-width: 600px) {
    font-size: 2rem;
  }
  @media (max-width: 400px) {
    font-size: 1.8rem;
  }
}
.heroTitle {
  font-family: "BrandonGrotesque", sans-serif;
}

.skillIcon {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 3rem 0;
  text-align: center;
}
.skillTempBackGone {
  position: absolute;
  background-color: white;
  top: 4rem;
  z-index: 3 !important;
  width: 0%;
  height: 0%;
}
.skillContent {
  max-width: 55% !important;
  @media (max-width: 974px) {
    font-size: 1.7rem !important;
    max-width: 60% !important;
  }
  @media (max-width: 400px) {
    font-size: 1.5rem !important;
    max-width: 73% !important;
  }
}
.skillGone {
  opacity: 0;
  svg {
    cursor: default !important;
  }
}
.skillAboutWrap {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: space-between;
  flex-wrap: wrap;
}

.skillFullScreen {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  text-align: center;
  & > div:not([class$="skillBack"]) {
    font-size: 2rem;
    @media (max-height: 740px) {
      padding: 0rem;
    }
    padding: 2rem;
    max-width: $container;
    max-height: 90%;
    z-index: 3;
  }
  div[data-fade-in] {
    opacity: 0;
  }
}
.parallaxWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32rem;
}
.skillHere {
  text-align: center;
  opacity: 1;
  z-index: 0;
}
.skillBackGone {
  position: absolute;
  top: 4rem;
  z-index: 1 !important;
  width: 0%;
  height: 0%;
}
.skillSVG {
  z-index: 3;
}
.skillClose {
  position: absolute;
  top: 2rem;
  right: 2rem;
}
.skillTempBack {
  position: absolute;
  border-radius: 2rem;
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: 2 !important;
}
.skillTemp {
  z-index: 3;
}

.skillHeader {
  text-align: center;
  font-size: 10rem !important;
  z-index: 2;
  @media (max-width: 974px) {
    font-size: 7rem !important;
  }
  @media (max-width: 484px) {
    font-size: 10vw !important;
  }
}
.skillBack {
  position: absolute;
  background-color: $back-white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1 !important;
}

.starAboutWrap {
  opacity: 0;
  display: flex;
  z-index: 2;
  justify-content: center;
}
.skillAboutContainer {
  justify-content: center;
  min-height: 135vh;
}

.aboutHeaderWhite {
  color: white;
}
.editAboutWrap {
  @media (max-width: 1433px) {
    flex-direction: column;
    .descText {
      margin-top: 2rem;
      max-width: 73%;
    }
  }
  @media (max-width: 500px) {
    .descText {
      max-width: 90%;
    }
  }
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
  & > div {
    margin: 0 2rem;
    height: 100%;
    //min-width: 100%;

    flex: 1 0 0;
  }
}
.gameAboutWrap {
  display: flex;
  //flex-direction: row-reverse;
  @media (max-width: 1433px) {
    flex-direction: column;
    .descText {
      margin-top: 2rem;
      max-width: 73%;
    }
  }
  @media (max-width: 500px) {
    .descText {
      max-width: 90%;
    }
  }
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
  & > div {
    margin: 0 2rem;
    height: 100%;
    //min-width: 100%;

    flex: 1 0 0;
  }
}

.reactPlayer {
  margin: auto;
  position: relative;
  top: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  left: 0;
}
.reactPlayerCover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 99;
}
.reactPlayerWrap {
  position: relative;
  overflow-x: hidden;

  max-width: 100vw;
  height: 100%;
}

.boldStyle {
  font-weight: bold;
  font-style: italic;
}

.icon {
  @media (max-width: 974px) {
    height: 8rem;
    width: 8rem;
  }
  @media (max-width: 650px) {
    height: 6rem;
    width: 6rem;
  }
  @media (max-width: 487px) {
    height: 6rem;
    width: 6rem;
    margin: 1rem 6vw;
  }
  @media (max-width: 368px) {
    height: 5rem;
    width: 5rem;
    margin: 1rem 6vw;
  }
  height: 12rem;
  width: 12rem;
  margin: 1rem 8vw;
  display: inline-block;
  cursor: pointer;
}
.starAbout {
  width: 5rem;
  height: 5rem;
  fill: #ffd700;
  @media (max-width: 500px) {
    width: 4rem;
    height: 4rem;
  }
}
.iconSmall {
  width: 4rem;
  height: 4rem;
}
.skillAboutButton {
  display: flex;
  justify-content: center;
  button {
    background: $white-text;
    padding: 0.35em 1.2em;
    border: 0.1em solid #000000;
    margin: 0 2rem 0 2rem;
    border-radius: 0.12em;
    text-decoration: none;
    font-weight: 300;
    color: #000000;
    text-align: center;
    transition: all 0.2s;
    min-width: 8rem;
    min-height: 3rem;
    cursor: pointer;
  }
  button:hover {
    color: #ffffff;
    background-color: #000000;
  }
}
