.aboutContainer {
  font-size: 1.6rem;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.5px;
  color: black;
  div[data-to-animate] {
    opacity: 0;
  }
  button[data-to-animate] {
    opacity: 0;
  }
  & > div {
    width: 100vw;
    text-align: center;
  }
  & > div[class$="Container"] > div {
    padding: 7rem 0 0rem 0;
    max-width: $container;
    margin: 0 auto;
  }
  & > div[class$="Container"] {
    padding: 8rem 0 8rem 0;
  }
}

//SHARED
.descText {
  text-align: left;
  div {
    margin: 2rem 0;
  }
}
.aboutHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "BrandonGrotesque", sans-serif;
  font-size: 3rem;
  position: relative;
}
// ME
.meAboutContainer {
  background-color: #f4f5f9;
  color: black;
}
.meAboutWrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;

  & > div {
    margin: auto;
    padding: 5rem 6rem;
    width: 50%;
  }
}
.meAboutLeft {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.meAboutImage {
  position: relative;
  width: 50%;
}
//
.temp {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.imageWrap {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-color: darken(white, 90%);
  opacity: 0.5;
}
.heroImage {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  z-index: -2;
  position: fixed;
}
.heroText {
  color: white;
  position: absolute;
  text-align: left;
  font-size: 3rem;
  max-width: 45vw;
  z-index: 4;
  div {
    margin: 1rem 0;
  }
}

.skillIcon {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 3rem 0;
  text-align: center;
}
.skillTempBackGone {
  position: absolute;
  background-color: white;
  top: 4rem;
  z-index: 3 !important;
  width: 0%;
  height: 0%;
}
.skillContent {
  max-width: 55% !important;
}
.skillGone {
  opacity: 0;
  svg {
    cursor: default !important;
  }
}
.skillAboutWrap {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: space-between;
  flex-wrap: wrap;
}

.skillFullScreen {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  text-align: center;
  & > div:not([class$="skillBack"]) {
    font-size: 2rem;
    padding: 2rem;
    max-width: $container;
    max-height: 90%;
    z-index: 3;
  }
  div[data-fade-in] {
    opacity: 0;
  }
}
.parallaxWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32rem;
}
.skillHere {
  text-align: center;
  opacity: 1;
  z-index: 0;
}
.skillBackGone {
  position: absolute;
  top: 4rem;
  z-index: 1 !important;
  width: 0%;
  height: 0%;
}
.skillSVG {
  z-index: 3;
}
.skillClose {
  position: absolute;
  top: 0rem;
  right: 0rem;
}
.skillTempBack {
  position: absolute;
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: 2 !important;
}
.skillTemp {
  z-index: 3;
}

.skillHeader {
  text-align: center;
  font-size: 10rem !important;
  z-index: 2;
}
.skillBack {
  position: absolute;
  background-color: #f4f5f9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1 !important;
}

.starAboutWrap {
  opacity: 0;
  display: flex;
  z-index: 2;
  justify-content: center;
}
.skillAboutContainer {
  background-color: #f4f5f9;
  justify-content: center;
  min-height: 135vh;
}

.aboutHeaderWhite {
  color: white;
}
.editAboutWrap {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  height: 100%;
  & > div {
    margin: auto;
    padding: 0 6rem;
    width: 50%;
  }
}
.editAboutContainer {
  background-color: #f4f5f9;
}
.codeAboutContainer {
  background-color: #f4f5f9;
}
.reactPlayer {
  margin: auto;
  position: relative;
}

.gameAboutContainer {
  background-color: #f4f5f9;
}
.boldStyle {
  font-weight: bold;
  font-style: italic;
}

.gameAboutWrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  & > div {
    margin: auto;
    padding: 0 6rem;
    width: 50%;
  }
}
.icon {
  height: 12rem;
  width: 12rem;
  margin: 1rem 8vw;
  display: inline-block;
  cursor: pointer;
}
.starAbout {
  width: 5rem;
  height: 5rem;
  fill: #ffd700;
}
.iconSmall {
  width: 4rem;
  height: 4rem;
}
.skillAboutButton {
  display: flex;
  justify-content: center;
  button {
    background: $white-text;
    padding: 0.35em 1.2em;
    border: 0.1em solid #000000;
    margin: 0 2rem 0 2rem;
    border-radius: 0.12em;
    text-decoration: none;
    font-weight: 300;
    color: #000000;
    text-align: center;
    transition: all 0.2s;
    min-width: 8rem;
    min-height: 3rem;
    cursor: pointer;
  }
  button:hover {
    color: #ffffff;
    background-color: #000000;
  }
}
