.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tile {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 1rem;
  @media (min-width: 1010px) {
    flex-direction: row;
  }
}
//https://uigradients.com/#Frost
//
.tagCard {
  text-decoration: none;
  background: linear-gradient(120deg, #f85032 0%, #e73827 100%);
  //background: linear-gradient(120deg, #f85032 0%,  #e73827 100%);

  color: white;
  font-weight: bold;
  border-radius: 5px;
  margin-right: 1rem;
  margin-top: 0.5rem;
}
.tag--magical {
  background: linear-gradient(120deg, #cb2d3e 0%, #ef473a 100%);

  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position: 0% 100%;
  transition: background-size 0.25s ease-in, color 0.25s ease-in;
  -webkit-transition: background-size 0.25s ease-in, color 0.25s ease-in;
  -ms-transition: background-size 0.25s ease-in, color 0.25s ease-in;
  &:hover {
    background-size: 100% 100%;
    color: darken(white, 5%);
  }
}
//#19A2E6
//#0E5A81
.imgWrap {
  border-radius: 15px;
  width: 100%;
  margin-right: 1rem;
  background: transparent;
}
.descHead {
  margin-top: 0;
  margin-bottom: 0;
}
.tagWrap {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 1rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}
.tagList {
  text-decoration: none;
  padding: 0 1rem 0 1rem;
  margin-top: 0;
  margin-bottom: 0;
}
.description {
  margin-bottom: 0;
  margin-top: 0;
}
.descWrap {
  width: 100%;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: flex-start;
  font-size: $font-size-large;
}
.img {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  box-shadow: 0px 7px 10px 3px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease;
  margin-bottom: 1rem;
  &:hover {
    box-shadow: 0px 8px 16px 4px rgba(0, 0, 0, 0.2);
  }
}

.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

// .wrap {
//   //   list-style: none;
//   //   display: grid;
//   //   grid-template-columns: repeat(2, 1fr);
//   //   grid-gap: 4em;
//   //margin: 50px auto 0 auto;
//   //justify-content: center;
//   //   margin: auto;
//   //   width: 100%;
//   //   display: 1;
//   //   align-items: space-between;
//   //   justify-content: center;
//   //   max-width: 1080px;
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
//   justify-content: space-evenly;
//   align-items: center;
//   align-content: stretch;
//   max-width: 80vw;
// }
// .tile {
//   border-radius: 25px;
//   width: 50rem;
//   height: 38rem;
//   margin: 10px;
//   // background-color: #99aeff;
//   background-color: white;
//   display: inline-block;
//   background-size: cover;
//   position: relative;
//   cursor: pointer;
//   transition: all 0.4s ease-out;
//   box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.44);
//   color: white;
//   font-family: "Roboto";
// }

// .tile-blog {
//   width: 50rem;
//   height: 38rem;
// }
// .tile-project {
//   width: 100rem;
//   height: 38rem;
// }

// .tile .img {
//   border-radius: 25px;
//   height: 100%;
//   width: 100%;
//   position: absolute;
//   top: 0;
//   left: 0;
//   z-index: 0;
//   transition: all 0.4s ease-out;
// }

// .tile .text {
//   z-index: 99;
//   position: absolute;
//   padding: 30px;
//   height: calc(100% - 6rem);
// }
// .tile h1 {
//   font-weight: 300;
//   margin: 0;
//   text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
// }
// .tile h2 {
//   font-weight: 100;
//   margin: 20px 0 0 0;
//   font-style: italic;
//   transform: translateX(200px);
// }
// .tile p {
//   font-weight: 300;
//   margin: 20px 0 0 0;
//   line-height: 25px;
//   /*   opacity:0; */
//   transform: translateX(-200px);
//   transition-delay: 0.2s;
// }
// .animate-text {
//   opacity: 0;
//   transition: all 0.6s ease-in-out;
// }

// .yeet {
//   /*   background-color:#99aeff; */
//   box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.64);
//   transform: scale(1.05);
// }

// .yeet .img {
//   opacity: 0.2;
// }

// .yeet .animate-text {
//   transform: translateX(0);
//   opacity: 1;
// }
// // .dots {
// //   //   position: absolute;
// //   //   // margin: 0 auto;
// //   //   // width: 30px;
// //   //   // height: 30px;
// //   //   color: currentColor;
// //   //   display: flex;
// //   //   flex-direction: column;
// //   //   align-items: center;
// //   //   justify-content: space-around;
// // }

// @media (max-width: 85rem) {
//   .wrap {
//     flex-direction: column;
//     //width: 80vh;
//   }
//   .tile {
//     width: 80vw;
//   }
// }
// @media only screen and (min-width: 760px) {
//   .tile:hover {
//     /*   background-color:#99aeff; */
//     box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.64);
//     transform: scale(1.05);
//   }
//   .tile:hover .img {
//     opacity: 0.2;
//   }
//   .tile:hover .animate-text {
//     transform: translateX(0);
//     opacity: 1;
//   }
//   // .dots {
//   //   //   position: absolute;
//   //   //   // margin: 0 auto;
//   //   //   // width: 30px;
//   //   //   // height: 30px;
//   //   //   color: currentColor;
//   //   //   display: flex;
//   //   //   flex-direction: column;
//   //   //   align-items: center;
//   //   //   justify-content: space-around;
//   // }

//   .dots span {
//     position: absolute;
//     width: 5px;
//     height: 5px;
//     right: 0;
//     bottom: 0;
//     background-color: currentColor;
//     border-radius: 50%;
//     display: block;
//     opacity: 0;
//     transition: transform 0.4s ease-out, opacity 0.5s ease;
//   }

//   .tile:hover span:nth-child(1) {
//     opacity: 1;
//     transform: translate(-24rem, 1rem);
//   }
//   .tile:hover span:nth-child(2) {
//     opacity: 1;
//     transform: translate(-23rem, 2rem);
//   }
//   .tile:hover span:nth-child(3) {
//     opacity: 1;
//     transform: translate(-22rem, 3rem);
//   }
//   .tile:hover span:nth-child(4) {
//     opacity: 1;
//     transform: translate(-21rem, 2rem);
//   }
//   .tile:hover span:nth-child(5) {
//     opacity: 1;
//     transform: translate(-20rem, 1rem);
//   }
//   .dots span:nth-child(1) {
//     transition-delay: 0.05s;
//   }
//   .dots span:nth-child(2) {
//     transition-delay: 0.1s;
//   }
//   .dots span:nth-child(3) {
//     transition-delay: 0.15s;
//   }
//   .dots span:nth-child(4) {
//     transition-delay: 0.2s;
//   }
//   .dots span:nth-child(5) {
//     transition-delay: 0.25s;
//   }
// }
