.footerContainer {
  background: rgb(244, 245, 249);
  padding: 5rem;
  justify-content: center;
  align-items: center;
  display: flex;
  color: black;
  flex-basis: 100%;
  // flex-direction: column;
}
.footerWrap {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.footerIconWrap {
  margin: 1rem;
}
.footerIcon {
  transition: opacity 0.3s;
  fill: rgb(30, 30, 34);
  width: 3rem;
  height: 3rem;
}

.footerHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "BrandonGrotesque", sans-serif;
  font-size: 3rem;
  position: relative;
  letter-spacing: 10px;
}

.footerNav {
  display: flex;
  justify-content: space-evenly;
  background: white;
  color: black;
  padding: 2rem 0 2rem 0;
}

.footerLink {
  text-decoration: none;
}
.footerBigWrap {
  display: flex;
  flex-direction: column;
}
