.footerContainer {
  background: #333;
  padding: 5rem;
  justify-content: center;
  align-items: center;
  // display: flex;
  // flex-direction: column;
}
.footerWrap {
  margin: auto;
  margin-top: 2rem;
  position: relative;
  max-width: 40rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footerIconWrap {
  text-decoration: none;
  position: relative;
  display: flex;
  border-radius: 100%;
  height: 5rem;
  width: 5rem;
  justify-content: center;
  align-items: center;
  background: white;
  cursor: pointer;

  &:hover {
    .mailIcon {
      opacity: 1;
    }
    .twitterIcon {
      opacity: 1;
    }
    .githubIcon {
      opacity: 1;
    }
    .youtubeIcon {
      opacity: 1;
    }
  }
}
.footerIcon {
  position: absolute;
  transition: opacity 0.3s;
  fill: #333;
  width: 3rem;
  height: 3rem;
}
.twitterIcon {
  opacity: 0;
  fill: #38a1f3;
  &:hover {
    opacity: 1;
  }
}
.mailIcon {
  opacity: 0;
  fill: darken(grey, 15%);
}
.githubIcon {
  opacity: 0;
  fill: black !important;
  &:hover {
    opacity: 1;
  }
}
.youtubeIcon {
  opacity: 0;
  fill: red !important;
  &:hover {
    opacity: 1;
  }
}
.footerHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "BrandonGrotesque", sans-serif;
  font-size: 3rem;
  position: relative;
}
