.footerContainer {
  background: darken(grey, 10%);
  padding: 10rem;
  justify-content: center;
  align-items: center;
}
.footerWrap {
  margin: auto;
  max-width: $container;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footerIconWrap {
  display: flex;
  border-radius: 100%;
  justify-content: center;
  align-items: center;

  background: white;
}
.footerIcon {
  fill: black;
  width: 4rem;
  height: 4rem;
}
.twitterIcon {
}
.mailIcon {
}
.githubIcon {
}
.youtubeIcon {
}
