$red: #f37272;
$brown: #584e4a;
$whitey: #f0f0f0;

$duration: 0.2s;
$distance: 8px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);
.bodyWrap {
  display: flex;
  flex-direction: column;
  position: relative;
}
.headerLink {
  position: fixed;
  z-index: 90;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 3rem;
  .link {
    text-decoration: none;
    font-size: $font-size-header;
    margin: 0 8rem;
    color: $white-text;
  }
  .linke {
    text-decoration: none;
    font-size: $font-size-header;
    color: $white-text;
    margin: 0 8rem;
  }
  .link,
  .linke {
    position: relative;
    &:before,
    &:after {
      content: "";
      position: absolute;
      bottom: 2px;
      left: 0;
      right: 0;
      height: 2px;
      background-color: $red;
    }
    &:before {
      opacity: 0;
      transform: translateY(-$distance);
      transition: transform 0s $easeOutBack, opacity 0s;
    }
    &:after {
      opacity: 0;
      transform: translateY($distance/2);
      transition: transform $duration $easeOutBack, opacity $duration;
    }
    &:hover,
    &:focus {
      &:before,
      &:after {
        opacity: 1;
        transform: translateY(0);
      }
      &:before {
        transition: transform $duration $easeOutBack, opacity $duration;
      }
      &:after {
        transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
      }
    }
  }
}
.headerBlack {
  background: rgba(0, 0, 0, 0.9) !important;
}
