$red: #f37272;
$brown: #584e4a;
$whitey: #f0f0f0;

$duration: 0.2s;
$distance: 10px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);
.bodyWrap {
  display: flex;
  flex-direction: column;
  position: relative;
}

.hamburgerMenu {
  @media (max-width: 1030px) {
    display: initial !important;
  }
  display: none !important;
}
.nohamburgerMenu {
  @media (max-width: 1030px) {
    display: none !important;
  }
  display: initial !important;
}
.headerLink {
  position: fixed;
  z-index: 90;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 3rem;
  .link {
    text-decoration: none;
    font-size: $font-size-header;
    margin: 0 8rem;
    color: $white-text;
  }
  .linke {
    @media (max-width: 1030px) {
      margin: 0 0 0 8rem;
    }
    text-decoration: none;
    font-size: $font-size-header;
    color: $white-text;
    margin: 0 8rem;
  }
  .link,
  .linke {
    position: relative;
    &:before,
    &:after {
      content: "";
      position: absolute;
      bottom: 2px;
      left: 0;
      right: 0;
      height: 2px;
      background-color: $red;
    }
    &:before {
      opacity: 0;
      transform: translateY(-$distance);
      transition: transform 0s $easeOutBack, opacity 0s;
    }
    &:after {
      opacity: 0;
      transform: translateY($distance/2);
      transition: transform $duration $easeOutBack, opacity $duration;
    }
    &:hover,
    &:focus {
      &:before,
      &:after {
        opacity: 1;
        transform: translateY(0);
      }
      &:before {
        transition: transform $duration $easeOutBack, opacity $duration;
      }
      &:after {
        transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
      }
    }
  }
}
.headerBlack {
  background: rgba(0, 0, 0, 0.9) !important;
}
.headerBurger {
  position: relative;
  z-index: 11111111111111111111 !important;
  //background: rgba(0, 0, 0, 0.9) !important;
  margin-right: 8rem !important;
  margin-left:8rem !important;
}
/* Position and sizing of burger button */
.bm-burger-button {
  position: relative;
  width: 36px;
  height: 30px;
  margin-right: 8rem !important;
  z-index: 1111111111111111111 !important;
  background: black;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: darken(white, 20%);
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  margin-top: 3rem;
  margin-right: 3rem;
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed !important;
  height: 110vh !important;
  top: 0 !important;
  bottom: 0 !important;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
  display: flex;
  flex-direction: column;
}

/* Individual item */
.bm-item {
  display: flex;
  flex-direction: column;
  margin: 3rem auto !important;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
