html,
body {
  background-color: $background-grey;
  overflow-x: hidden;
  //   height: 100%;
  //   margin: 0;
  //   padding: 0;
  //   background-color: $background-grey;
  //   display: flex;
  //   align-items: center;
  //   flex-direction: column;
  //   justify-content: space-between;
  //   vertical-align: middle;
  //flex-grow: 1;
}

.home-back {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: $background-grey;
  padding: 15% 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  //   vertical-align: middle;
}
