.cvWrap {
  font-family: "Assistant";
  font-size: 3rem;
  color: black;
}

.cvSection {
  display: flex;
  justify-content: space-between;
}

.cvName {
}

.cvItemsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.cvItems {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.cvTitle {
}

.cvDate {
}

.cvDetails {
}

.cvColumns {
  display: flex;
  justify-content: space-around;
}
