//@import "compass/css3";
* {
  box-sizing: border-box;
}
body {
  background-color: black;
  overflow:hidden;
  //background-color: lighten(black, 5%);
}
// @mixin clearfix($currheight, $page-height) {
//   @if ($currheight >= $page-height) {
//     height: 100vh;
//   } @else {
//     height: 100%;
//   }
// }
.body2 {
  color: $dark-grey;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
  line-height: 1.6;
  overflow-x: hidden;
}

// ::selection {
//   text-shadow: 2px 2px #1c78a0, 1px 1px #1c78a0, 3px 3px #1c78a0, 4px 4px #1c78a0, 5px 5px #1c78a0;
//   color: white;
// }
::selection {
  background: #1c78a0;
  // background: #1c78a0; // background: #1c78a0;
  color: white;
}

.content-container {
  margin: 0 auto;
  //max-width: 120rem;
  max-width: 90vw;
  padding: 0 $xs-size;
  flex-grow: 1;
  bottom: 0;
  height: 100;
}
