// Colors
$background-grey: #0c030b;
$subtitle-grey: #bcafb7;
$secondary-color: lighten(#cb0d83, 5%);
$third-color: #3cd7c1;
$fourth-color: #39d34f;
$white-text: #fafafa;

// === Variables =====
$perspective: 60rem;
$font-size: 8.25rem;
$split-position: 49%;
$split-thickness: 8px;
$split-line: #175b8e;
$split-color: #15a5c5;
$container: 75rem;

// Font Sizes
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;
$font-size-header: 3rem;

// Spacing
$xs-size: 0.6rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
